@model SD_330_W22SD_Assignment.Models.ViewModels.QuestionDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<form asp-action="Upvote" asp-controller="Questions" asp-route-QuestionId=@Model.Question.Id>
    <button type="submit">Upvote</button>
</form>

<div>@Model.VoteCount</div>

<form asp-action="Downvote" asp-controller="Questions" asp-route-QuestionId=@Model.Question.Id>
    <button type="submit">Downvote</button>
</form>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagsString)
        </dd>
    </dl>
</div>

<form asp-action="AddCommentToQuestion" asp-controller="Comments" asp-route-QuestionId=@Model.Question.Id>
    <textarea name="Body" style="overflow:auto;resize:none" rows="4"></textarea>
    <button type="submit">Add comment</button>
</form>
<ul>
    @foreach (var comment in Model.Question.Comments)
    {
        <li>@comment.Body - @comment.CreatedAt</li>
    }
</ul>


<ol>
    @foreach (var answer in Model.Answers)
    {
        <li>

            @if (answer.Id == Model.Question.CorrectAnswerId)
            {
                <p>
                    *Marked as correct*
                </p>
            }
            else
            {
                <p>
                    <form asp-action="MarkCorrect" asp-controller="Answers" asp-route-QuestionId=@Model.Question.Id asp-route-AnswerId=@answer.Id>
                        <button type="submit">Mark Correct</button>
                    </form>
                </p>
            }
            <p>
                <form asp-action="Upvote" asp-controller="Answers" asp-route-QuestionId=@Model.Question.Id asp-route-AnswerId=@answer.Id>
                    <button type="submit">Upvote</button>
                </form>

                <div>@(answer.Votes.Count(v => v.Up) - answer.Votes.Count(v => !v.Up))</div>

                <form asp-action="Downvote" asp-controller="Answers" asp-route-QuestionId=@Model.Question.Id asp-route-AnswerId=@answer.Id>
                    <button type="submit">Downvote</button>
                </form>
            </p>
            <p>
                @answer.Body - @answer.CreatedAt
            </p>
            <br />
            <form asp-action="AddCommentToAnswer" asp-controller="Comments" asp-route-QuestionId=@Model.Question.Id asp-route-AnswerId=@answer.Id>
                <textarea name="Body" style="overflow:auto;resize:none" rows="4"></textarea>
                <button type="submit">Add comment</button>
            </form>
            <ul>
                @foreach (var comment in answer.Comments)
                {
                    <li>@comment.Body - @comment.CreatedAt</li>
                }
            </ul>
        </li>
    }
</ol>

<div>
    <a asp-action="Index">Back to List</a>
</div>
